window {
  margin: 5px;
  border: 2px solid #cdcecf;
  background-color: #192330;
}

#input {
  margin: 5px;
  /*border: 2px solid blue;*/
  background-color: #192330;
}

#inner-box {
  margin: 5px;
  /*border: 2px solid yellow;*/
  background-color: #192330;
}

#outer-box {
  margin: 5px;
  /*border: 2px solid green;*/
  background-color: #192330;
}

#scroll {
  margin: 7px;
  /*border: 2px solid orange;*/
  background-color: #cdcecf;
}

#text {
  margin: 5px;
  color: #63cdcf;
  /*border: 2px solid cyan;*/
  /*background-color: cyan;*/
} 
