@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: MesloLGS NF, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

#window {
    border-radius: 10px;
    margin: 0px 60px;
}

window#waybar {
    background: rgba(9, 14, 19, 0.80);
    border-radius: 8.5px;
    border-width: 2px;
    border-style: solid;
    border-color: @border;
    color: @fg;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#custom-launcher {
    font-size: 21px;
    margin: 0 5px 0 30px;
}

#clock {
    margin: 0 5px;
}

#workspaces {
}

#workspaces button {
    padding: 5px;
    color: @fg;
    margin-right: 5px;
}

#workspaces button.active {
    color: @accent;
}

#workspaces button.focused {
    color: #B48EAD;
    background: #3B4252;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #D06F79;
    background: #3B4252;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @fg;
    border-radius: 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#backlight {
    background: @bg;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #181825;
}

#pulseaudio {
    margin: 0 5px;
}

#network {
    margin: 0 5px;
}

#battery {
    color: @battery;
    margin: 0 5px;
}

#custom-powermenu {
    margin-right: 30px;
    font-size: 17px;
}

